main {
    padding: 36px;
    padding-left: 400px;
    padding-right: 400px;
}
.form-container {
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 17px;
}
.input-box {
    font-family: "Karla", sans-serif;
    border: 1px solid #D5D4D8;
    border-radius: 5px;
    text-indent: 5px;

}


.btn-click {
    font-family: "Karla", sans-serif;
    grid-column: 1 / -1;
    font-weight: 700;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;   
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.image {
    width: 700px;
    height: 500px;
    margin-top: 20px;
    justify-content: center;
}